{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Django auto deploy</title>
  </head>
  <body>
    <div class="container">
      <div class="form-wrapper">
        <form action="" method="post">
          {% csrf_token %}
          <div class="column">
            <input
              type="text"
              name="name"
              placeholder="Enter name"
              required
              class="input"
            />
            <input
              type="email"
              name="email"
              class="input"
              required
              placeholder="Enter email"
            />
          </div>
          <textarea
            name="description"
            id=""
            placeholder="Description"
          ></textarea>

          <button type="submit" id="form-btn">Add user</button>
        </form>
      </div>
    </div>
  </body>
</html>
